* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1 {
    font-family: "Arima";
    font-size: 64px;
    font-weight: 700;
    color: rgba(241, 201, 83, 1);
}

h2 {
    font-family: "Palaquin";
    font-size: 40px;
    font-weight: 600;
    color: rgba(78, 164, 135, 1);

}

h3 {
    font-family: "Arima";
    font-size: 18px;
    font-weight: 700;
    color: rgba(84, 55, 13, 1);

}

p {
    font-family: "Palaquin";
    font-size: 24px;
    font-weight: ;
    color: rgba(61, 61, 61, 1);
}

li {
    font-family: "Palaquin";
    font-size: 24px;
    color: rgba(61, 61, 61, 1);
}


.headline {
    padding-top: 60px;
    display: flex;
    max-width: 1200px;
    width: 100%;
    
}

.head {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    width: 100%;
    
}

.statistik {
    display: flex;
    justify-content: flex-start;
    gap: 32px;
    margin-top: 40px;
    width: 100%;
    flex-wrap: wrap;
}


.statistik>div {
    display: flex;
    gap: 10px;
    height: 14px;
    align-items: center;

}

.card>p {
    font-size: 16px;
    padding-bottom: 30px;
}

.card>img {
    height: 120px;
    border-radius: 50%;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    width: 280px;
    background-color: rgba(78, 164, 135, 0.2);
    border-radius: 16px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.main-content {
    display: flex;
    padding-top: 80px;
    flex-direction: column;

    width: 100%;
    max-width: 1200px;
    align-items: center;
    gap: 30px;
}


.main-content>h2 {
    font-family: "Arima";
    font-size: 32px;
    font-weight: 600;
    color: rgba(84, 55, 13, 1);
    padding-top: 30px;
}

.slider-res>input {
    display: none;
}

.slider {

    padding-top: 80px;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    padding-bottom: 90px;
}

.slider-element>img {
    width: 100%;
    max-width: 225px;
    object-fit: cover;
    height: 100%;
    max-height: 300PX;
    border-radius: 16px;
    box-shadow: 9px 5px 20px rgb(0, 0, 0, 0.25);
}


.slider-element {
    z-index: 1;
    transform: perspective(250px) rotateY(5deg) translateX(-9px);
    transform-origin: 40% 40%;
    transition: all 250ms ease-in-out;
}

/* .slider-element:hover { */
    z-index: 2;

    /* transform: perspective(250px) rotateY(0deg) translateX(-20px) scaleX(1.5) scaleY(1.2); */
}

/* .slider-element:hover~.slider_b_element { */

/* transform: perspective(250px) rotateY(-20deg) translateX(20px); */
/* } */

.text-slider {
    padding-bottom: 100px;
}

.text-list {
    padding-top: 100px;
    max-width: 1000px;
    width: 100%;
}

.text-list>p {
    padding-bottom: 50px;
}

.pro-list {
    display: flex;
    align-items: center;
    padding-top: 180px;
    width: 100%;
    max-width: 1200px;
    flex-direction: column;
}

.pro-tipp {
    background-color: rgba(78, 164, 135, 1);
    border-radius: 10px;
    width: 100%;
    max-width: 169px;
    height: 70px;
    rotate: -13.67deg;
    
    margin-top: -80px; 
    
    display: flex;
    align-self: flex-start;
    align-items: center;
    
   

}
.pro-tipp>img{
    rotate: 13.67deg;
}
.pro-tipp>p{
    
font-family: "Palaquin";
    font-size: 28px;
    font-weight: bold;
    color: rgba(241, 201, 83, 1);

}



.pro-tipp>img {
    height: 50px;
    width: 50px;
}

.pro-list>ol {
    background-color: rgba(78, 164, 135, 0.2);
    border-radius: 30px;
    padding: 30px;
}

.end-text {
    padding-top: 100px;
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}

.share-text {
    display: flex;
    align-items: center;
    /* padding-top: 100px; */
    max-width: 30.75rem;
    width: 100%;
    /* max-height: 160px; */
    height: 9.625rem;
    flex-direction: column;
    justify-content: end;
    position: relative;
}
.share-text>p{
    position: absolute;
    text-align: center;
    bottom: 80px;
}

.share-text>img {
    /* display: flex; */
    /* align-items: center; */
    position: absolute;
    /* right: 190px; */
    /* bottom: 10px; */
    align-self: flex-start;
    height: 100px;
    width: clamp(4.375rem, 0.018rem + 14.493vw, 5rem);
    border: 3px;
}

.bottum {
    display: flex;
    /* background-color: rgba(78, 164, 135, 1); */
    /* border-radius: 40px; */
    /* font-family: "Arima"; */
    /* font-size: 24px; */
    /* font-weight: 700; */
    /* color: rgba(241, 201, 83, 1); */
    /* gap: 20px; */
    /* width: 150px; */
    /* height: 3.125rem; */
    justify-content: center;
    align-items: center;
    position: relative;
    /* bottom: 2.5rem; */
    top: 15px;


}



.checkbox {
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.bottum-1 {
    display: flex;

    gap: 1.25rem;
      background-color: rgba(78, 164, 135, 1);
    border-radius: 40px;
    width: 150px;
    height: 3.125rem;
    font-family: "Arima";
    font-size: 24px;
    font-weight: 700;
    color: rgba(241, 201, 83, 1);
    gap: 20px;
    justify-content: center;
    align-items: center;

}

.bottum-trans {
    display: none;

    align-items: center;
    /* background-color: rgba(78, 164, 135, 1); */
    /* border-radius: 40px; */
    /* font-family: "Arima"; */
    /* font-size: 24px; */
    /* font-weight: 700; */
    /* color: rgba(241, 201, 83, 1); */
    /* gap: 20px;  */
}
.bottum-trans-link>a{
    font-family: "Palaquin";
    font-size: 16px;
    font-weight: bold;
    color: rgba(78, 164, 135, 1);
}

.bottum-1:hover {
    cursor: pointer;
}

.bottum-trans-share {
    display: flex;
    gap: 0.625rem;
    padding-left: 5px;
    align-items: center;

}
.bottum-trans-share>img{
height: 25px;
}




.bottum-trans-link {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.bottum:has(input:checked) .bottum-trans {
    display: flex;
    

}
.bottum:has(input:checked)  .bottum-1>img{
    display: none;
    
}
.bottum:has(input:checked)  .bottum-1{
    width: 100px;
}

@media screen and (min-width:1280px) {
    .slider-element:hover {
    z-index: 2;

    transform: perspective(250px) rotateY(0deg) translateX(-20px) scaleX(1.5) scaleY(1.2);
}
}

@media screen and (min-width: 0px) and (max-width:1279px) {
    .slider-res>input{
        display: flex;
    }
    .slider-res{
            position: relative;
            /* background-color: black; */
            width: 100%;
            height: 28.125rem;


            display: flex;
            justify-content: center;
            align-items: flex-end;
            overflow: hidden;
           gap: 0.625rem;

        }

        .slider-res input{
            z-index: 2;
            height: 22px;
             margin: 0px;
             
            }
            
            input[type="radio"]{
                background-color: rgba(78, 164, 135, 0.3);
                appearance: none;
                width: 1.375rem;
                border-radius: 50%;
                transition: all 0.5s ease;
                margin-bottom: 1.875rem;
                
            }
           
            input[type="radio"]:checked{
                border-color: rgba(78, 164, 135, 1);
                background-color: rgba(78, 164, 135, 1);
                width: 2.5rem;
                height: 1.375rem;
                border-radius: 40%;
                transition: all 0.5s ease;
                transform: scale(1);
            }
           

        .slider{
            z-index: 1;
            width: 500%;
            height: 100%;
            max-width: 1200px;
           margin-inline: auto;
            
            position: absolute;
            display: flex;

            transition: all 1s ease-in-out;
            padding: 0px;
            justify-content: flex-start;
        }
        .slider-element{
            width: calc(100% / 5);
            height: 100%;
            flex-shrink: 0;
        }
        .slider-element {
    z-index: 1;
   


    transform: perspective(0px) rotateY(0deg) translateX(0px);
    transform-origin: 0% 0%;
    transition: all 250ms ease-in-out;
}
/* .slider-element:hover { */
    z-index: 0;
    width: 500%;
    transform: perspective(0px) rotateY(0deg) translateX(0px) scaleX(1) scaleY(1);
}


    .slider-res input[value="one"]:checked~.slider{
        transform: translateX(calc(200% / 5));
    }

    .slider-res input[value="two"]:checked~.slider{
        transform: translateX(calc(100% /5));
    }

    .slider-res input[value="three"]:checked~.slider{
        transform: translateX(calc(0% /5));
    }
    .slider-res input[value="four"]:checked~.slider{
        transform: translateX(calc(-100% /5));
    }
    .slider-res input[value="five"]:checked~.slider{
        transform: translateX(calc(-200% /5));
    }
}


@media screen and (min-width: 769px) and (max-width:1279px) {
.headline{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 0px 40px;
    padding-bottom: 40px;

}
  .main-content{
    padding: 0px 40px;
  }
}

@media screen and (min-width: 481px) and (max-width:768px) {
   h1{font-size: 40px;

   }
   h2{font-size: 20px;

   }

   h3{font-size: 16px;

   }
   
   p{font-size: 16px;

   }

   li{font-size: 16px;

   }
   .main-content>h2{
    font-size: 20px;
   }
   
    .headline{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 0px 40px;
    padding-bottom: 40px;
}

.text-list{
    padding-top: 30px;
}
.statistik{
    gap: 8px;
}
.main-content{
    padding: 0px 40px;
}
.share-link{
    display: flex;
    padding-top: 100px;
    align-items: center;
    
}
.share-link>img {
    height: 60px;
    right: 40px;
    bottom: 70px;
}
.share-text>img{
    height: 60px;
    width: 50px;
}
}
@media screen and (min-width: 0px) and (max-width:480px) {
 h1{font-size: 40px;

   }
   h2{font-size: 20px;

   }

   h3{font-size: 16px;

   }
   
   p{font-size: 16px;

   }

   li{font-size: 16px;

   }
   .main-content>h2{
    font-size: 20px;
   }
.headline{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 0px 40px;
}
.statistik{
    gap: 8px;
}
.main-content{
    padding: 0px 40px;
}
.share-link{
    display: flex;
    padding-top: 100px;
    align-items: center;
    
}
.share-link>img {
    height: 60px;
    right: 20px;
    bottom: 70px;
}
.text-list{
    padding-top: 30px;
    padding-bottom: 30px;
}
.pro-list{
    padding-top: 110px;
}
.end-text{
    padding-top: 30px;
}

.share-text{
    padding-top: 30px;
}
.share-text>img{
    height: 60px;
    width: 35px;
}
}