/* Mark: Global-Settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 120%;
}

:root {
    --main-font-size: clamp(1rem, 0.793rem + 0.884vw, 1.5rem)
}


/* Mark: Header */

.header {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;

    background-color: rgba(78, 164, 135, 1);
}

.header-bar {
    height: 7.5rem;
    width: 100%;
    max-width: 75rem;

    display: flex;
    gap: 50px;
    justify-content: flex-start;
    align-items: center;

    background-color: rgba(78, 164, 135, 1);
}

.header-bar>img {
    width: 72px;
    padding-right: 60px;

}

.nav-desktop {
    display: flex;
    gap: 1.875rem;
}

.nav-box {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-box>a {
    padding: 0px 15px;
    font-size: 1.5rem;
    font-family: "Arima";
    font-weight: bold;
    color: rgba(248, 245, 235, 1);
    text-decoration: none;
}

a:visited {
    color: rgba(241, 201, 83, 1);
}

.nav-box>img {
    position: absolute;
    bottom: 5px;
    left: 50%;

    display: none;

    transform: translateX(-50%);
}

.nav-box:hover>img {
    display: block;
}

.icon-bar {
    display: none;
}

/* Mark: Layout (html/main) */

main>article {
    max-width: 75rem;
    height: auto;
    margin: 0 auto;
    padding-top: clamp(1.5rem, 0.333rem + 5.833vw, 5rem);
    margin-bottom: 5rem;

    display: flex;
    gap: 5.5rem;
    flex-direction: column;
    align-items: center;
}



/* Mark: Landing-section */

.landing-section {
    width: 100%;
    height: 24.5rem;

    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.intro {
    height: 100%;
    width: 100%;
    max-width: 56.25rem;

    container-type: inline-size;
    display: flex;
    gap: 2.5rem;
    flex-direction: column;
    justify-content: space-between;

}

.intro-main {
    width: 100%;

    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: flex-start;
}

.intro .headings {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.intro h1 {
    font-family: 'Palanquin';
    font-weight: 600;
    font-size: clamp(1.25rem, 0.56rem + 3.448cqw, 2.5rem);

    color: rgba(78, 164, 135, 1);
}

.intro h2 {
    font-family: 'Arima';
    font-weight: 700;
    font-size: clamp(2rem, 0.897rem + 5.517cqw, 4rem);
    color: rgba(241, 201, 83, 1);
}

.intro p {
    text-wrap: wrap;

    font-family: 'Palanquin';
    font-weight: 400;
    font-size: clamp(1.125rem, 0.642rem + 2.414cqw, 2rem);
    color: rgba(84, 55, 13, 1);
}

.intro-info {
    width: 100%;
    max-width: 36rem;

    display: flex;
    gap: 0.5rem clamp(0.6rem, -0.143rem + 3.81cqw, 2rem);
    align-items: center;
    flex-wrap: wrap;
}

.info {
    display: flex;
    gap: 6px;
    align-items: center;
}

.info .img1 {
    height: 18px;
    width: 16px;
}

.info .img2 {
    height: 7px;
    width: 20px;
}

.info .img3 {
    height: 14px;
    width: 20px;
}

.info .img4 {
    height: 18px;
    width: 16px;
}

.info p {
    font-family: 'Palanquin';
    font-weight: 400;
    font-size: 1rem;
    color: rgba(84, 55, 13, 1);
}

aside {
    height: 100%;
    max-width: 17rem;
    padding: 1rem;

    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;

    border-radius: 30px;
    background-color: rgba(78, 164, 135, 0.2);
}

aside img {
    border-radius: 50%;
}

.author {
    display: flex;
    gap: 0.75rem;
    flex-direction: column;
    align-items: center;

    color: rgba(84, 55, 13, 1);
}

.author-info>h4 {
    text-align: center;

    font-family: 'Arima';
    font-weight: 700;
    font-size: 1.125rem;
}

.author-info>p {
    text-align: center;

    font-family: 'Arima';
    font-weight: 400;
    font-size: 1.125rem;
}

.author>p {
    font-family: 'Palanquin';
    font-weight: 400;
    font-size: 1rem;
}

/* Mark: Carousel-Section */

.destinations {
    width: 100%;
    max-width: 68.75rem;

    display: flex;
    gap: 4rem;
    flex-direction: column;
    align-items: center;

    container-type: inline-size;
}

.destinations h2 {
    font-family: "Arima";
    font-weight: 600;
    font-size: clamp(1.125rem, 0.766rem + 1.795cqw, 2rem);
    color: rgba(84, 55, 13, 1);
}

.carousel {
    width: 100%;
}

.carousel-wrapper {
    width: 100%
}

.inputs {
    display: none;
}

.elements {
    width: 100%;
    height: 27.5rem;

    display: flex;
    justify-content: center;
}

.carousel-element {
    height: 100%;
    margin-left: -6.25rem;
}

.carousel-element:first-of-type {
    margin-left: 0;
}

.carousel-element img {
    position: relative;
    z-index: 1;

    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;

    border-radius: 16px;
    box-shadow: -0px 0px 1px rgba(0, 0, 0, 0.25),
        -9px 5px 20px rgba(0, 0, 0, 0.25);

    transform-origin: 0%;
    transform: perspective(1000px) rotateY(20deg) scaleX(1.16);
    transition: all 250ms ease-in-out;
}

/* Mark: Main-Content */

.beach-features {
    width: 100%;
    max-width: 62.5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.beach-features h3,
ol {
    font-family: 'Palanquin';
    font-weight: 400;
    font-size: var(--main-font-size);
    color: rgba(61, 61, 61, 1);
}

.beach-features ol {
    padding: 0 2rem;
}


.tipps {
    width: 100%;
    max-width: 70.625rem;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.banner {
    height: 4.125rem;
    width: 12.25rem;
    align-self: flex-start;

    display: flex;
    align-items: center;

    border-radius: 10px;
    background-color: rgba(78, 164, 135, 1);
    color: rgba(241, 201, 83, 1);

    rotate: -13.67deg;
    transform-origin: top right;
}

.banner img {
    rotate: 13deg;
}

.banner h3 {
    font-family: 'Palanquin';
    font-weight: 700;
    font-size: 1.75rem;
}

.list-box {
    width: 100%;
    max-width: 1083px;
    padding: 1.625rem 1rem 1.5rem 1rem;

    display: flex;
    align-items: center;

    border-radius: 30px;
    background-color: rgba(78, 164, 135, 0.2);
}

.list-box ol {
    padding-left: 2.25rem;

    font-family: 'Palanquin';
    font-weight: 400;
    font-size: var(--main-font-size);
    color: rgba(61, 61, 61, 1);
}

/* Mark: Paragraphs */

.paragraph {
    width: 100%;

    font-family: 'Palanquin';
    font-weight: 400;
    font-size: var(--main-font-size);
    color: rgba(61, 61, 61, 1);
}

/* Mark: Share-Section */

.share {
    position: relative;

    height: 9.625rem;
    width: 100%;
    max-width: 30.75rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.share>p {
    position: absolute;
    top: 0;

    text-align: center;
    font-family: "Arima";
    font-weight: 500;
    font-size: 1.5rem;
    color: rgba(84, 55, 13, 1);
}

.share>img {
    height: 100px;
    width: clamp(4.375rem, 0.018rem + 14.493vw, 5rem);

    align-self: flex-start;
    border: 3px;
}

.share-button {
    position: relative;

    height: 3rem;
    padding: 0 1.5rem;

    display: flex;
    gap: 0.5rem;
    align-items: center;

    border: none;
    border-radius: 40px;

    background-color: rgba(78, 164, 135, 1);
}

.checkbox {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.share-button span {
    font-family: "Arima";
    font-weight: 700;
    font-size: 1.5rem;
    color: rgba(241, 201, 83, 1);

    letter-spacing: 5%;
    text-decoration: none;
}

.share-button-all img {
    width: 32px;
    height: 32px;
    border-radius: 6px;
}

.share-button-all {
    position: absolute;
    top: 6.625rem;
    bottom: 0;

    display: flex;
    gap: 0.625rem;
    align-items: center;
}

.button-extra {
    display: none;
    gap: 0.625rem;
    align-items: center;
}

.button-links {
    display: flex;
    gap: 0.625rem;
    flex-direction: column;
}

.button-links a {
    font-family: "Arima";
    font-weight: 500;
    font-size: 1.25rem;
    color: rgba(78, 164, 135, 1);
}

.share-button:hover {
    cursor: pointer;
}

.share-button input:checked ~img {
    display: none;
}

.share-button-all:has(input:checked) .button-extra {
    display: flex;
}

/* Mark: Footer */

footer {
    height: 9.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(78, 164, 135, 1);
}

.footer-wrapper {
    height: 100%;
    width: 100%;

    display: flex;
    gap: 0.625rem;
    align-items: center;
    justify-content: space-between;
    max-width: 75rem;
}

.footer-left {
    display: flex;
    align-items: center;
    gap: clamp(2rem, -1.762rem + 7.828vw, 4.5rem);

    font-family: "Palanquin";
    font-weight: 400;
    font-size: 1rem;
    color: white;
}

.footer-left img {
    height: 24px;
    width: 24px;
}

.footer-left a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.copyright {
    display: flex;
    gap: 0.25rem;
    align-items: center;
}

.footer-right {
    display: flex;
    gap: 1rem;
}

.footer-right img {
    height: 32px;
    width: 32px;
}

.footer-right .youtube-img {
    height: 32px;
    width: 44px;
}

@media screen and (min-width: 769px) {
    .carousel-element img:hover {
        transform: perspective(1000px) rotateY(0deg) scaleX(1);
        z-index: 2;
    }

    .carousel-element:hover~.carousel-element img {
        transform: perspective(1000px) rotateY(-20deg) translateX(clamp(5rem, -18.207rem + 28.986vw, 6.25rem)) translateY(-3px) scaleX(1);
        transform-origin: right;
    }

    .carousel-element:has(~ .carousel-element:hover) img {
        transform: perspective(1000px) rotateY(20deg) translateX(clamp(-6.25rem, 18.207rem - 28.986vw, -5rem)) scaleX(1);
    }

    .one img {
        object-position: 45% 50%;
    }

    .five img {
        object-position: 60% 50%;
    }

}

/* Mark: up to 1280px */

@media screen and (max-width: 1280px) {
    main>article {
        padding-left: clamp(0.5rem, -0.167rem + 3.333vw, 2.5rem);
        padding-right: clamp(0.5rem, -0.167rem + 3.333vw, 2.5rem);
    }

    .banner {
        margin-bottom: 20px;
    }

    .header-bar {
        padding-left: clamp(0.5rem, -0.167rem + 3.333vw, 2.5rem);
        padding-right: clamp(0.5rem, -0.167rem + 3.333vw, 2.5rem);
    }

    .footer-wrapper {
        padding-left: clamp(0.5rem, -0.167rem + 3.333vw, 2.5rem);
        padding-right: clamp(0.5rem, -0.167rem + 3.333vw, 2.5rem);
    }

}

/* Mark: 769px - 1280px */

@media screen and (min-width: 769px) and (max-width: 1280px) {
    .carousel-element:hover~.carousel-element img {
        transform: perspective(1000px) rotateY(-20deg) translateY(-3px) scaleX(1);
        transform-origin: right;
        filter: blur(0.25rem);
    }

    .carousel-element:has(~ .carousel-element:hover) img {
        transform: perspective(1000px) rotateY(20deg) scaleX(1);
        filter: blur(0.25rem);
    }
}

/* Mark: 769px - 1000px */

@media screen and (min-width: 769px) and (max-width: 1000px) {
    .one img {
        object-position: 42% 50%;
    }

    .five img {
        object-position: 65% 50%;
    }
}

/* Mark: up to 768px */

@media screen and (max-width: 768px) {

    main>article {
        gap: 2.5rem;
    }

    .landing-section {
        height: 100%;

        display: flex;
        flex-direction: column;
    }

    aside {
        max-width: 100%;
        align-self: center;

        text-align: center;
        text-wrap: wrap;
    }

    aside p {
        padding: 0 12%;
    }

    .destinations {
        gap: 0.5rem;
    }

    .inputs {
        width: 11.0625rem;
        padding: 0.625rem;

        display: flex;
        gap: 0.5rem;
    }

    .inputs input[type="radio"] {
        appearance: none;

        height: 1.375rem;
        width: 1.375rem;

        cursor: pointer;

        border-radius: 50%;
        background-color: rgba(78, 164, 135, 0.3);

        transition: 350ms ease-in-out;
    }

    .inputs input[type="radio"]:checked {
        border-radius: 50px;
        background-color: rgba(78, 164, 135, 1);

        flex-grow: 1.45;
    }

    .carousel-wrapper {
        position: relative;
        height: 25rem;
        width: 100%;

        display: flex;
        gap: 0.625rem;
        justify-content: center;

        container-type: inline-size;
        overflow: hidden;
    }

    .inputs {
        position: absolute;
        top: 21.75rem;
    }

    .elements {
        height: 100%;
        max-height: 18.25rem;
        width: 500%;

        position: absolute;
        top: 1.25rem;
    }

    .carousel-element {
        width: calc(65% / 5);
        margin-left: 0;

        transition: all 350ms ease-in-out;
    }

    .carousel-element img {
        transform: perspective(1000px) rotateY(0deg) scaleX(1);
        transition: all 350ms ease-in-out;
    }

    .carousel-wrapper:has(input[value="slider-one"]:checked) .elements {
        transform: perspective(1000px) translateX(calc(130%/5)) rotateY(0deg) scaleX(1);
        transition: all 350ms ease-in-out;
    }

    .carousel-wrapper:has(input[value="slider-one"]:checked) .one~.carousel-element {
        transform: perspective(1000px) translateX(calc(-65%/5)) rotateY(-45deg) scaleY(0.7) scaleX(0.7);
        transition: all 350ms ease-in-out;
    }

    .carousel-wrapper:has(input[value="slider-two"]:checked) .elements {
        transform: perspective(1000px) translateX(calc(65%/5)) rotateY(0deg) scaleX(1);
        transition: all 350ms ease-in-out;
    }

    .carousel-wrapper:has(input[value="slider-two"]:checked) .carousel-element:not(.two) {
        transform: perspective(1000px) translateX(calc(65% / 5)) rotateY(45deg) scaleY(0.7) scaleX(0.7);
        transition: all 350ms ease-in-out;
    }

    .carousel-wrapper:has(input[value="slider-two"]:checked) .two~.carousel-element {
        transform: perspective(1000px) translateX(calc(-65%/5)) rotateY(-45deg) scaleY(0.7) scaleX(0.7);
        transition: all 350ms ease-in-out;
    }

    .carousel-wrapper:has(input[value="slider-three"]:checked) .elements {
        transform: perspective(1000px) translateX(0px) rotateY(0deg) scaleX(1);
        transition: all 350ms ease-in-out;
    }

    .carousel-wrapper:has(input[value="slider-three"]:checked) .carousel-element:not(.three) {
        transform: perspective(1000px) translateX(calc(65%/5)) rotateY(45deg) scaleY(0.7) scaleX(0.7);
        transition: all 350ms ease-in-out;
    }

    .carousel-wrapper:has(input[value="slider-three"]:checked) .three~.carousel-element {
        transform: perspective(1000px) translateX(calc(-65%/5)) rotateY(-45deg) scaleY(0.7) scaleX(0.7);
        transition: all 350ms ease-in-out;
    }

    .carousel-wrapper:has(input[value="slider-four"]:checked) .elements {
        transform: perspective(1000px) translateX(calc(-65%/5)) rotateY(0deg) scaleX(1);
        transition: all 350ms ease-in-out;
    }

    .carousel-wrapper:has(input[value="slider-four"]:checked) .carousel-element:not(.four) {
        transform: perspective(1000px) translateX(calc(65%/5)) rotateY(45deg) scaleY(0.7) scaleX(0.7);
        transition: all 350ms ease-in-out;
    }

    .carousel-wrapper:has(input[value="slider-four"]:checked) .four~.carousel-element {
        transform: perspective(1000px) translateX(calc(-65%/5)) rotateY(-45deg) scaleY(0.7) scaleX(0.7);
        transition: all 350ms ease-in-out;
    }

    .carousel-wrapper:has(input[value="slider-five"]:checked) .elements {
        transform: perspective(1000px) translateX(calc(-130%/5)) rotateY(0deg) scaleX(1);
        transition: all 350ms ease-in-out;
    }

    .carousel-wrapper:has(input[value="slider-five"]:checked) .carousel-element:not(.five) {
        transform: perspective(1000px) translateX(calc(65%/5)) rotateY(45deg) scaleY(0.7) scaleX(0.7);
        transition: all 350ms ease-in-out;
    }

    .beach-features ol {
        padding-right: 0;
    }

    .footer-wrapper {
        align-items: flex-end;
        padding-top: 1.875rem;
        padding-bottom: 1.875rem;
    }

    .footer-left {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .footer-right img {
        height: 24px;
        width: 24px;
    }

    .footer-right .youtube-img {
        height: 24px;
        width: 33px;
    }

    .icon-bar .links img {
        height: 34px;
    }

    .icon-bar {
        z-index: 4;
        display: flex;
        height: 6.25rem;
        width: 100%;

        position: sticky;
        bottom: 0px;
        left: 0px;

        align-items: center;
        justify-content: center;
    }

    .links {
        z-index: 3;

        height: 100px;
        width: 100%;
        padding: 1.5rem 1.5625rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        background-color: rgba(241, 201, 83, 1);
    }

}

/* Mark: 481px to 768px */

@media screen and (min-width: 481px) and (max-width: 768px) {
    .header-bar {
        padding-top: 0.625rem;

        display: flex;
        justify-content: center;
    }

    .nav-desktop {
        display: none;
    }
}

/* Mark: uo to 480px */

@media screen and (max-width: 480px) {
    main>article {
        gap: 2rem;
    }

    .header-bar {
        padding-top: 0.625rem;

        display: flex;
        justify-content: center;
    }

    .nav-desktop {
        display: none;
    }

    aside p {
        padding: 0;
    }

    .beach-features h3,
    li {
        font-size: 1rem;
    }

    .tipps li {
        font-size: 1rem;
    }

    .share>p {
        font-size: clamp(1rem, 0rem + 5vw, 1.5rem);
    }

    .share {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .share>img {
        height: 200px;
        width: clamp(2.5rem, -1.25rem + 18.75vw, 4.375rem);
        rotate: 15deg;
    }

    .footer-right {
        gap: clamp(0.5rem, -0.5rem + 5vw, 1rem);
    }

}