* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 120%;
}

/* Mark: Header */

.header {
    height: 120px;
    width: 100%;

    display: flex;
    background-color: rgba(78, 164, 135, 1);
    padding-left: 120px;
    align-items: flex-start;
    gap: 50px;
    align-items: center;
}

.header>img {
    width: 72px;
    padding-right: 60px;

}

.nav-destop {
    display: flex;

    gap: 30px;

}

.nav-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;


}

.nav-box>a {
    font-family: "Arima";
    font-size: 24px;
    font-weight: bold;
    color: rgba(248, 245, 235, 1);
    text-decoration: none;
    padding: 0px 15px;


}

a:visited {
    color: rgba(241, 201, 83, 1);
}

.nav-box>img {
    position: absolute;
    bottom: 5px;
    left: 50%;
    display: none;
    transform: translateX(-50%);
}

.nav-box:hover>img {
    display: block;
}

.icon-bar {
    display: none;
}

/* Mark: Main */

main>article {
    max-width: 75rem;
    height: auto;
    margin: 0 auto;
    padding-top: clamp(1.5rem, 0.333rem + 5.833vw, 5rem);
    margin-bottom: 5rem;

    display: flex;
    gap: 5.5rem;
    flex-direction: column;
    align-items: center;
}



/* Mark: Landing-section */

.landing-section {
    width: 100%;
    height: 24.5rem;

    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.intro {
    height: 100%;
    width: 100%;
    max-width: 56.25rem;

    container-type: inline-size;
    display: flex;
    gap: 2.5rem;
    flex-direction: column;
    justify-content: space-between;

}

.intro-main {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: flex-start;
}

.intro .headings {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.intro h1 {
    font-family: 'Palanquin';
    font-weight: 600;
    font-size: clamp(1.25rem, 0.56rem + 3.448cqw, 2.5rem);

    color: rgba(78, 164, 135, 1);
}

.intro h2 {
    font-family: 'Arima';
    font-weight: 700;
    font-size: clamp(2rem, 0.897rem + 5.517cqw, 4rem);

    color: rgba(241, 201, 83, 1);
}

.intro p {
    font-family: 'Palanquin';
    font-weight: 400;
    font-size: clamp(1.125rem, 0.642rem + 2.414cqw, 2rem);

    color: rgba(84, 55, 13, 1);
    text-wrap: wrap;
}

.intro-info {
    max-width: 36rem;
    width: 100%;
    display: flex;
    gap: 0.5rem clamp(0.6rem, -0.143rem + 3.81cqw, 2rem);
    flex-wrap: wrap;
    align-items: center;
}

.info {
    display: flex;
    gap: 6px;
    align-items: center;
}

.info .img1 {
    height: 18px;
    width: 16px;
}

.info .img2 {
    height: 7px;
    width: 20px;
}

.info .img3 {
    height: 14px;
    width: 20px;
}

.info .img4 {
    height: 18px;
    width: 16px;
}

.info p {
    font-family: 'Palanquin';
    font-weight: 400;
    font-size: 1rem;

    color: rgba(84, 55, 13, 1);
}

aside {
    height: 100%;
    max-width: 17rem;
    padding: 1rem;

    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;

    border-radius: 30px;
    background-color: rgba(78, 164, 135, 0.2);
}

aside img {
    border-radius: 50%;
}

.author {
    display: flex;
    gap: 0.75rem;
    flex-direction: column;
    align-items: center;
    color: rgba(84, 55, 13, 1);
}

.author-info>h4 {
    text-align: center;

    font-family: 'Arima';
    font-weight: 700;
    font-size: 1.125rem;
}

.author-info>p {
    text-align: center;
    font-family: 'Arima';
    font-weight: 400;
    font-size: 1.125rem;
}

.author>p {
    font-family: 'Palanquin';
    font-weight: 400;
    font-size: 1rem;
}

/* Mark: Caroussel */

.destinations {
    max-width: 68.75rem;
    width: 100%;

    display: flex;
    gap: 4rem;
    flex-direction: column;
    align-items: center;
    container-type: inline-size;
}

.destinations h2 {
    font-family: "Arima";
    font-weight: 600;
    font-size: clamp(1.125rem, 0.766rem + 1.795cqw, 2rem);

    color: rgba(84, 55, 13, 1);
}

.carousel {
    width: 100%;
    max-width: 82.25rem;
    height: 27.5rem;

    display: flex;
    justify-content: center;
}

.carousel-element {
    display: flex;

    height: 100%;
    width: 18.75rem;
    max-width: 100%;
    margin-left: -6.25rem;

    overflow: hidden;
}

.carousel-element:first-of-type {
    margin-left: 0;
}

.carousel-element img {
    z-index: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;

    border-radius: 16px;
    box-shadow: -0px 0px 1px rgba(0, 0, 0, 0.25),
        -9px 5px 20px rgba(0, 0, 0, 0.25);


    transform: perspective(1000px) rotateY(20deg) scaleX(1.183);
    transform-origin: 0%;
    transition: all 250ms ease-in-out;
}

.carousel-element img:hover {
    z-index: 2;
    transform: perspective(1000px) rotateY(0deg) scaleX(1);
}

.carousel-element:hover~.carousel-element img {
    transform: perspective(1000px) rotateY(-20deg) translateX(clamp(5rem, -18.207rem + 28.986vw, 6.25rem)) translateY(-3px) scaleX(1);
    transform-origin: right;
}

.carousel-element:has(~ .carousel-element:hover) img {
    transform: perspective(1000px) rotateY(20deg) translateX(clamp(-6.25rem, 18.207rem - 28.986vw, -5rem)) scaleX(1);
}

.carousel-element:last-of-type img {
    object-position: 60%;
}

/* Mark: Body Paragraph */

.paragraph {
    width: 100%;

    font-family: 'Palanquin';
    font-weight: 400;
    font-size: 1.5rem;
    color: rgba(61, 61, 61, 1);
}

/* Mark: Content */

.beach-features {
    width: 100%;
    max-width: 62.5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.beach-features h3,
ol {
    font-family: 'Palanquin';
    font-weight: 400;
    font-size: 1.5rem;

    color: rgba(61, 61, 61, 1);
}

.beach-features ol {
    padding: 0 2rem;
}


.tipps {
    width: 100%;
    max-width: 70.625rem;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.banner {
    align-self: flex-start;
    height: 4.125rem;
    width: 12.25rem;
    display: flex;
    align-items: center;

    border-radius: 10px;
    background-color: rgba(78, 164, 135, 1);
    rotate: -13.67deg;
    transform-origin: top right;
    color: rgba(241, 201, 83, 1);
}

.banner img {
    rotate: 13deg;
}

.banner h3 {
    font-family: 'Palanquin';
    font-weight: 700;
    font-size: 1.75rem;
}

.list-box {
    width: 100%;
    max-width: 1083px;
    padding: 26px 16px 24px 16px;

    display: flex;
    align-items: center;

    border-radius: 30px;
    background-color: rgba(78, 164, 135, 0.2);
}

.list-box ol {
    padding-left: 2.25rem;
    font-family: 'Palanquin';
    font-weight: 400;
    font-size: 1.5rem;

    color: rgba(61, 61, 61, 1);
}

/* Mark: Share */

.share {
    width: 30.75rem;
    position: relative;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.share>p {
    text-align: center;
    font-family: "Arima";
    font-weight: 500;
    font-size: 1.5rem;

    color: rgba(84, 55, 13, 1);
}

.share-button {
    height: 48px;

    display: flex;
    gap: 8px;
    align-items: center;
    padding: 0 1.5rem;

    border: none;
    border-radius: 40px;

    font-family: "Arima";
    font-weight: 700;
    font-size: 1.5rem;
    color: rgba(241, 201, 83, 1);
    background-color: rgba(78, 164, 135, 1);

    letter-spacing: 5%;
}

.share-button img {
    width: 32px;
    height: 32px;
    border-radius: 6px;
}

.share>img {
    position: absolute;
    left: 15px;
    bottom: 0;


    border: 3px;
    height: 115px;
    width: 90px;
}

.share-button:hover {
    cursor: pointer;
}


/* Mark: Footer */

footer {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(78, 164, 135, 1);
}

.footer-wrap {
    display: flex;
    width: 100%;
    padding: 3.75rem 3.75rem;

    gap: 10px;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 4.5rem;

    font-family: "Palanquin";
    font-weight: 400;
    font-size: 1rem;
    color: white;
}

.footer-left img {
    height: 24px;
    width: 24px;
}

.footer-left a {
    text-decoration: none;
    color: inherit;
}

.copyright {
    display: flex;
    gap: 0.25rem;
    align-items: center;
}

.footer-right {
    display: flex;
    gap: 1rem;
}

.footer-right img {
    height: 32px;
    width: 32px;
}

.footer-right .youtube-img {
    height: 32px;
    width: 44px;
}

@media screen and (max-width: 1280px) {
    main>article {
        padding-left: clamp(0.5rem, -0.167rem + 3.333vw, 2.5rem);
        padding-right: clamp(0.5rem, -0.167rem + 3.333vw, 2.5rem);
    }

    .banner {
        margin-bottom: 20px;
    }

    .carousel-element:hover~.carousel-element img {
        transform: perspective(1000px) rotateY(-20deg) translateY(-3px) scaleX(1);
        transform-origin: right;
        filter: blur(0.25rem);
    }

    .carousel-element:has(~ .carousel-element:hover) img {
        transform: perspective(1000px) rotateY(20deg) scaleX(1);
        filter: blur(0.25rem);
    }

}

@media screen and (max-width: 768px) {

    main>article {
        gap: 2.5rem;
    }

    .landing-section {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    aside {
        max-width: 100%;
        align-self: center;

        text-align: center;
        text-wrap: wrap;
    }

    aside p {
        padding: 0 12%;
    }

    .beach-features ol {
        padding-right: 0;
    }
}

@media screen and (max-width: 480px) {
    main>article {
        gap: 2rem;
    }

    aside p {
        padding: 0;
    }

    .paragraph {
        font-size: 1rem;
    }

    .beach-features h3,
    li {
        font-size: 1rem;
    }

    .tipps li {
        font-size: 1rem;
    }


}