* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}



main{
  display: flex;
  flex-direction: column;
  gap: 80px;
}



header {
  background-color: rgba(78, 164, 135, 1);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.header-wrapper {
  display: flex;
  width: 100%;
  max-width: 1440px;
}
menu {
  display: flex;
  align-items: center;
  color: white;
}
menu img {
  padding: 32px 100px 32px 140px;
}
.nav-bar {
  display: flex;
  gap: 72px;
}

.nav-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.nav-box a {
  color: white;
  font-family: "Arima";
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: none;
}

a:visited {
  color: rgba(241, 201, 83, 1);
}

.nav-box > img {
  position: absolute;
  bottom: 5px;
  left: 50%;
  display: none;
  transform: translateX(-55%) translateY(50%);
}
.nav-box:hover > img {
  display: block;
}

h1 {
  color: rgba(241, 201, 83, 1);
  font-size: clamp(2rem, 1.273rem + 3.636vw, 4rem);
  font-family: "Arima";
  font-weight: 700;
  line-height: 1.2;
  
}
h2 {
  color: rgba(78, 164, 135, 1);
  font-size:clamp(1rem, 0.51rem + 2.449vw, 2.5rem);
  font-family: "Palanquin";
  font-weight: 600;
}

.headline {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding-top: 80px;
  gap: 24px;
}
.headline-wrap{
 display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  gap: 24px;
  height: 100%;
}
.headline-article {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
 max-width: 900px;

}
.headline-article p {
  color: rgba(84, 55, 13, 1);
  font-size: clamp(1rem, 0.673rem + 1.633vw, 2rem);
  font-family: "Palanquin";
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.icon {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: clamp(0.5rem, -0.328rem + 4.138vw, 2rem);
}
.headline-info {
  background-color: rgba(78, 164, 135, 0.2);
  max-width: 272px;
  height: 100%;
  border-radius: 30px;
  text-align: center;
  padding: 16px;
  height: 420px;
}

.headline-info img {
  height: 120px;
  width: 120px;
  display: block;
  margin: 0 auto 0;
  object-fit: cover;
  border-radius: 50%;
}

.name {
  color: rgba(84, 55, 13, 1);
  font-size: 1.125rem;
  font-family: "Arima";
  font-weight: 700;
}
.author {
  color: rgba(84, 55, 13, 1);
  font-size: 1.125rem;
  font-family: "Arima";
  font-weight: 400;
}
.info-text {
  color: rgba(84, 55, 13, 1);
  font-family: "Palanquin";
  font-weight: 400;
  font-size: 1rem;
  line-height: 120%;
}

h3 {
  color: rgba(84, 55, 13, 1);
  font-size: 2rem;
  font-family: "Arima";
  font-weight: 600;
}
.txt {
  display: flex;
  justify-content: center;
}
.carousel {
  display: flex;
  justify-content: center;
  height: 100%;
}
.carousel-wrapper {
  height: 400px;
  display: flex;
}
.carousel-wrapper img {
  object-fit: cover;
  width: 225px;
  height: 400px;
}

.carousel-element {
  z-index: 1;
  width: 225px;

  background-color: blueviolet;

  box-shadow:
    0px 5px 5px rgba(3, 7, 18, 0.04),
    0px 19px 19px rgba(3, 7, 18, 0.08),
    0px 42px 42px rgba(3, 7, 18, 0.12);

  transform: perspective(250px) rotateY(10deg) translateX(-20px);
  transform-origin: 50% 50%;
  transition: all 300ms ease-in-out;
}
.carousel-element:hover {
  z-index: 2;
  transform: perspective(250px) rotateY(0deg) translateX(0px) scaleX(1.5)
    scaleY(1.2);
}
.carousel-element:hover ~ .carousel-element {
  transform: perspective(250px) rotateY(-20deg) translateX(0px);
}
.text-info {
  display: flex;
  justify-content: center;
  color: rgba(61, 61, 61, 1);
  font-size: 1.5rem;
  font-family: "Palanquin";
  font-weight: 400;
  max-width: 1200px;
  margin: 0 auto 0;
}
.txt-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(61, 61, 61, 1);
  font-size: 1.5rem;
  font-family: "Palanquin";
  font-weight: 400;
  max-width: 1000px;
  line-height: 120%;
  margin: 0 auto ;
}
.txt-list ol {
  padding-left: 30px;
  padding-top: 24px;
}
.pro-tipp {
  display: flex;
  max-width: 1130px;
  height: 100%;
  margin: 0 auto 0;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 70px;
}

.pro-tipp-icon {
      align-self: flex-start;
    height: 4.125rem;
    width: 12.25rem;
    display: flex;
    align-items: center;
    transform: translateX(-50px);
    border-radius: 10px;
    background-color: rgba(78, 164, 135, 1);
    rotate: -13.67deg;
    color: rgba(241, 201, 83, 1);
}
.pro-tipp-icon img{
  rotate: 13.6deg;
}
.pro-tipp-icon p {
    font-family: 'Palanquin';
    font-weight: 700;
    font-size: 1.75rem;
}
.pro-tipp-list {
  background-color: rgba(78, 164, 135, 0.2);
  max-width: 1080px;
  height: 100%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 24px 16px 24px 45px;
}
.pro-tipp-list > ol > li > a {
  text-decoration: none;
  color: rgba(78, 164, 135, 1);
  font-family: "Palanquin";
  font-style: bold;
  font-weight: 700;
}
.pro-tipp-list li {
  font-size: 1.5rem;
  font-family: "Palanquin";
  font-weight: 400;
  line-height: 120%;
}

.pro-tipp-txt {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto 0;
  color: rgba(61, 61, 61, 1);
  font-size: 1.5rem;
  font-family: "Palanquin";
  font-weight: 400;
  line-height: 120%;
}

.share-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto 80px;
}
.share-text {
  color: rgba(84, 55, 13, 1);
  font-family: "Arima";
  font-weight: 500;
  line-height: 120%;
  text-align: center;
  font-size: 1.5rem;
}
.share-section {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  position: relative;
}

.share-section > img {
  display: block;
}
.share-container {
  display: flex;
  align-items: center;
  position: absolute;
  left: 150px;
  top: 60px;
  width: 100%;
}

.button-1 {
  display: flex;
  color: rgba(241, 201, 83, 1);
  font-family: "Arima";
  font-weight: 700;
  font-size: 1.5rem;
  width: 150px;
  height: 48px;
  background-color: rgba(78, 164, 135, 1);
  border-radius: 40px;
  gap: 18px;
  padding: 0 24px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  border: none;
}
/* .button-2 {
  display: flex;
  color: rgba(241, 201, 83, 1);
  font-family: "Arima";
  font-weight: 700;
  font-size: 1.5rem;
  width: 120px;
  height: 48px;
  background-color: rgba(78, 164, 135, 1);
  border-radius: 40px;
  padding: 0 24px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  border: none;
} */

/* .button-1:active {
  transform: rotateX(200px);
} */
.share-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 8px;
  position: absolute;
  left: -130px;
}
.share-menu > img {
  width: 32px;
  height: 32px;
}
.links {
  display: flex;
  flex-direction: column;

  font-family: "Arima";
  font-weight: 600;
  font-size: 1rem;
}
.links a {
  color: rgba(78, 164, 135, 1);
}
footer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(78, 164, 135, 1);
}
.footer-wrap {
  display: flex;
  width: 100%;
  padding: 3.75rem 3.75rem;

  gap: 10px;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 4.5rem;

  font-family: "Palanquin";
  font-weight: 400;
  font-size: 1rem;
  color: white;
}

.footer-left img {
  height: 24px;
  width: 24px;
}

.footer-left a {
  text-decoration: none;
  color: inherit;
}

.copyright {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.footer-right {
  display: flex;
  gap: 1rem;
}

.footer-right img {
  height: 32px;
  width: 32px;
}

.footer-right .youtube-img {
  height: 32px;
  width: 44px;
}

@media screen and (max-width: 1280px){
  main
  {padding-left: clamp(0.5rem, 0rem + 2.5vw, 2rem);
    padding-right: clamp(0.5rem, 0rem + 2.5vw, 2rem);
}
}
@media screen and (max-width: 768px){
  .headline-wrap{
    display: flex;
    flex-direction: column;
  }
  .headline-info{
    height: 100%;
    max-width: 100%;
  }
}


