* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 120px;
}

.highligts {
    max-width: 1220px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

h2 {
    color: rgba(78, 164, 135, 1);
    font-size: 3.25rem;
    font-family: "Arima";
    font-weight: 700;
}

.highligts div img {
    width: 40px;
    height: 40px;
}

.highligts p {
    color: rgba(84, 55, 13, 1);
    font-size: 1.5rem;
    font-family: "Palanquin";
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: 0%;
}

.highligts-head {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-align: center;
}

.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 24px;
    margin-top: 120px;
    margin-bottom: 120px;
    max-width: 1220px;
    height: 550px;
    background-color: aqua;
    border-top-right-radius: 100px;
    overflow: hidden;
}

.slider input {
    z-index: 2;
    margin-bottom: 32px;
}

.slider-wrapper {
    display: flex;
    position: absolute;
    width: 300%;
    height: 100%;

    transition: all 1s ease-in-out;
}

.slider-element {
    width: calc(100% / 3);
    height: 100%;
}

.slider-wrapper-txt {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    text-align: left;
    margin-top: 54px;
    margin-left: 38px;
    padding: 16px 24px;
    background-color: rgba(255, 255, 255, 0.304);
    text-decoration: none;
}

.slider-wrapper-txt h3 {
    color: white;
    font-family: "Palanquin Dark";
    font-weight: 600;
    font-size: 3rem;
}

.slider-wrapper-txt p {
    color: white;
    font-family: "Palanquin";
    font-weight: 400;
    font-size: 1.75rem;
}

.element-Artur {
    background-color: blue;
}

.element-David {
    background-color: crimson;
}

.element-Onur {
    background-color: rgb(65, 113, 17);
}

.slider input[value="Artur"]:checked~.slider-wrapper {
    transform: translateX(calc(100% / 3));
}

.slider input[value="David"]:checked~.slider-wrapper {
    transform: translateX(0);
}

.slider input[value="Onur"]:checked~.slider-wrapper {
    transform: translateX(calc(-100% / 3));
}

footer {
    height: auto;
    width: 100%;
    padding: 60px 120px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    background-color: rgba(78, 164, 135, 1);
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 4.5rem;

    font-family: "Palanquin";
    font-weight: 400;
    font-size: 1rem;
    color: white;
}

.footer-left img {
    height: 24px;
    width: 24px;
}

.footer-left a {
    text-decoration: none;
    color: inherit;
}

.copyright {
    display: flex;
    gap: 0.25rem;
    align-items: center;
}

.footer-right {
    display: flex;
    gap: 1rem;
}

.footer-right img {
    height: 32px;
    width: 32px;
}

.footer-right .youtube-img {
    height: 32px;
    width: 44px;
}

@media screen and (min-width: 1280px) {}

@media screen and (min-width: 769px) and (max-width: 1279px) {}

@media screen and (min-width: 481px) and (max-width: 768px) {}

@media screen and (max-width: 480px) {}