* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.landing-section{
    background-color: rgba(78, 164, 135, 1);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.header {
    height: 120px;
    width: 100%;
  max-width: 1440px;
    display: flex;
    background-color: rgba(78, 164, 135, 1);
    padding-left: 120px;
    align-items: flex-start;
    gap: 50px;
    align-items: center;

}

.header>img {
    width: 72px;
    padding-right: 60px;

}

.nav-destop {
    display: flex;

    gap: 30px;

}

.nav-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;


}

.nav-box>a {
    font-size: 24px;
    font-family: "Arima";
    font-weight: bold;
    color: rgba(248, 245, 235, 1);
    text-decoration: none;
    padding: 0px 15px;


}

a:visited {
    color: rgba(241, 201, 83, 1);
}

.nav-box>img {
    position: absolute;
    bottom: 5px;
    left: 50%;
    display: none;
    transform: translateX(-50%);
}

.nav-box:hover>img {
    display: block;
}

.icon-bar {
    display: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px;
}

.highligts {
  max-width: 1220px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

h2 {
  color: rgba(78, 164, 135, 1);
  font-size: 3.25rem;
  font-family: "Arima";
  font-weight: 700;
}

.highligts div img {
  width: 40px;
  height: 40px;
}

.highligts p {
  color: rgba(84, 55, 13, 1);
  font-size: 1.5rem;
  font-family: "Palanquin";
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0%;
}

.highligts > div {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 20px;
    text-align: center;
}


.highligts-head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-align: center;
}

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 24px;
  margin-top: 120px;
  margin-bottom: 120px;
  max-width: 1220px;
  height: 550px;
  background-color: white;
  border-top-right-radius: 100px;
  overflow: hidden;
}

.slider input {
  z-index: 2;
  margin-bottom: 32px;
  width: 28px;
  height: 28px;
}

/* .slider input[type="radio"]{
  accent-color:  rgba(241, 201, 83, 1);

} */



/* .slider input:hover {
  
} */

.slider-wrapper {
  display: flex;
  position: absolute;
  width: 300%;
  height: 100%;

  transition: all 1s ease-in-out;
}

.slider-element {
  width: calc(100% / 3);
  height: 100%;
}

.slider-wrapper-txt {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  text-align: left;
  margin-top: 54px;
  margin-left: 38px;
  padding: 16px 24px;
  background-color: rgba(255, 255, 255, 0.39);
  text-decoration: none;
  line-height: 1;
}

.slider-wrapper-txt h3 {
  color: white;
  font-family: "Palanquin Dark";
  font-weight: 600;
  font-size: 3rem;
}

.slider-wrapper-txt p {
  color: white;
  font-family: "Palanquin";
  font-weight: 400;
  font-size: 1.75rem;
  letter-spacing: 0%;
  line-height: 110%;
}

.element-Artur {
  background: url(../assets/img/header\ photo\ \(1\).webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.element-David {
  background: url(../assets/img/header\ photo\ \(2\).webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.element-Onur {
  background: url(../assets/img/header\ photo\ \(3\).webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.slider input[value="Artur"]:checked ~ .slider-wrapper {
  transform: translateX(calc(100% / 3));
}

.slider input[value="David"]:checked ~ .slider-wrapper {
  transform: translateX(0);
}

.slider input[value="Onur"]:checked ~ .slider-wrapper {
  transform: translateX(calc(-100% / 3));
}

/*FAQ*/
.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
  
}


.faq-headline{
    display: flex; 
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 3.5rem;
}

details{
    background-color:rgba(241, 201, 83, 1) ;
    border-radius: 12px;
    padding: 5px 5px;
    border: none;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 16px;
    
}

details > summary {
  padding:10px;
  
  border: none;
  
  cursor: pointer;
    font-family: "Palanquin";
    font-size: 24px;
    font-weight: bold;
    color: black;
    font-family: 'palanquin';
    font-size: 24px;
    font-weight: 600;

    
}

details > p {
  background-color: white;
 
 border: none;
  margin: 10px;
  box-shadow: 1px 1px 2px #bbbbbb;
   font-family: "Palanquin";
    font-size: 16px;
    color: black;
       font-family: 'palanquin';
    font-size: 16px;

    
  
}

.contact {
  /* MARK: weite muss noch angepasst werden, fix? oder 1100 aus figma +clamp? */
  width: 1100px;
  display: flex;
  gap: 3.5rem;
  flex-direction: column;
  align-items: center;
}

.contact-heading {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.contact-header {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: center;
}

.contact-header > p {
  text-align: center;

  font-family: "Palanquin";
  font-weight: 500;
  font-size: 1.5rem;
  color: rgba(84, 55, 13, 1);
  line-height: 110%;
  letter-spacing: 0%;
}

form {
  width: 100%;

  display: flex;
  gap: 1rem;
  flex-direction: column;

  color: rgba(84, 55, 13, 1);
}

.contact-main {
  width: 100%;

  display: flex;
  gap: 4rem;
  flex-direction: column;
}

.contact-info {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.contact-details {
  display: flex;
  gap: 1rem;
  flex-direction: column;

  border-bottom: solid 1px black;
}

.contact-info .contact-details {
  width: 33rem;
}

form label {
  font-family: "Palanquin";
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 120%;
}

/* Mark: Roboto Mono wirklich richtiges Font? */
.form-input,
.form-textarea {
  margin-bottom: 1rem;
  border: none;

  font-family: "Roboto Mono";
  font-weight: 700;
  font-size: 1.5rem;
  color: rgba(78, 164, 135, 1);
  line-height: 120%;
}

.form-input:focus,
.form-textarea:focus {
  outline: none;
}

.contact-send {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
}

.privacy {
  height: 3.125rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.privacy .checkbox {
  appearance: none;
  height: 1.2rem;
  width: 1.2rem;

  cursor: pointer;
  border-radius: 0.2rem;
  border: 2px solid black;
}

.privacy .checkbox:hover {
  background-color: rgba(241, 201, 83, 1);
}

.privacy .checkbox:checked {
  border-color: rgba(78, 164, 135, 1);
}

.privacy .checkbox:checked::after {
  content: "";

  height: 100%;
  width: 100%;

  display: block;

  background-image: url("../assets/icons/checked_form.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(78, 164, 135, 1);
}

.privacy label {
  font-family: "Palanquin";
  font-weight: 400;
  font-size: 1rem;
  line-height: 120%;
}

.privacy span {
  display: inline-flex;
  gap: 0.5rem;
}

.privacy a {
  text-decoration: none;

  letter-spacing: -3%;
  color: rgba(78, 164, 135, 1);
}

.privacy a:hover {
  transform: scale(1.06);
  transform-origin: left center;
}

.contact-button {
  height: 3rem;
  padding: 0 1.5rem;

  display: flex;
  gap: 0.625rem;
  align-items: center;

  border: 1px solid rgba(48, 48, 48, 0.5);
  border-radius: 2.5rem;
  background-color: white;

  cursor: pointer;
}

.contact-button p {
  font-family: "Arima";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 120%;
  letter-spacing: 5%;

  color: rgba(115, 115, 115, 1);
}

footer {
   height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(78, 164, 135, 1);
}
.footer-wrapper{
  display: flex;
  width: 100%;
  padding: 3.75rem 3.75rem;

  gap: 10px;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 4.5rem;

  font-family: "Palanquin";
  font-weight: 400;
  font-size: 1rem;
  color: white;
}

.footer-left img {
  height: 24px;
  width: 24px;
}

.footer-left a {
  text-decoration: none;
  color: inherit;
}

.copyright {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.footer-right {
  display: flex;
  gap: 1rem;
}

.footer-right img {
  height: 32px;
  width: 32px;
}

.footer-right .youtube-img {
  height: 32px;
  width: 44px;
}

/* @media screen and (min-width: 1280px) {
.landing-section{
padding: 0px max(120px, calc(50% - 720px));
}
.highligts{
padding: 0px max(120px, calc(50% - 720px));
}
.faq{
padding: 0px max(120px, calc(50% - 720px));
}
.contact{
padding: 0px max(120px, calc(50% - 720px));
}
.footer-content{
padding: 0px max(120px, calc(50% - 720px));
}
} */

@media screen and (min-width: 769px) and (max-width: 1279px) {
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .header {
        display: flex;
      
        justify-content: center;
        padding-top: 10px;
    }

    .nav-destop {
        display: none;
    }

    .icon-bar {
      z-index: 3;
        display: block;
        display: flex;
        width: 100%;
        background-color: rgba(241, 201, 83, 1);
        overflow: auto;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        position: fixed;
        bottom: 0px;
        left: 0px;
        padding: 0px 40px;
    }

    .icon-bar>img {
        height: 34px;
    }
}

@media screen and (max-width: 480px) {
    .header {
        display: flex;

        justify-content: center;
        padding-top: 10px;
    }

    .nav-destop {
        display: none;
    }

    .icon-bar {
        display: block;
        display: flex;
        width: 100%;
        background-color: rgba(241, 201, 83, 1);
        overflow: auto;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        position: fixed;
        bottom: 0px;
        left: 0px;
        padding: 0px 40px;
    }

    .icon-bar>img {
        height: 34px;
    }

}
